body {
    background-image: url("313068-black-background.jpg");
    font-family: 'Nosifer', cursive;
    color: red;
}

.center {
  position: absolute;
  width: inherit;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -50px;
  text-align: center;
}

​ .example1 {
    height: 50px;
    overflow: hidden;
    position: relative;
}

.example1 h3 {
    font-size: 3em;
    color: red;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: -50px;
    /* margin is -0.5 * dimension */
    margin-top: -25px;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: example1 15s linear infinite;
    -webkit-animation: example1 15s linear infinite;
    animation: example1 15s linear infinite;
}


/* Move it (define the animation) */

@-moz-keyframes example1 {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes example1 {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes example1 {
    0% {
        -moz-transform: translateX(100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(100%);
        /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(-100%);
        /* Firefox bug fix */
        transform: translateX(-100%);
    }
}
